<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Handle Admin Subfolder
  RewriteCond %{REQUEST_URI} ^/admin/.*$
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /admin/index.html [L]

  # Handle Main Site
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
